p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  /* This style below will be inherited */
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 75px;
  padding-left: 90px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  height: 600px;
}